<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand">
    <img src="assets/logo.png" class="w-25" />
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a routerLink="/list-utilisateur" class="nav-item nav-link">Utilisateurs</a>
      <a routerLink="/list-entreprise" class="nav-item nav-link">Entreprises</a>
      <a routerLink="/list-contact" class="nav-item nav-link">Contacts</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a (click)="onLogOut()" class="nav-item nav-link btn">Log out</a>
    </div>
  </div>
</nav>
