<div class="container col-md-8 border" style="min-height: 350px; margin-top: 12%; background-image: url('assets/angular.jpg');">
  <a routerLink="/login-admin" class="float-left btn btn-secondary rounded-circle" style="margin-top: 22%;"
     data-toggle="tooltip" data-placement="bottom" title="Administrateur">
    <i class="fa fa-arrow-left"></i>
  </a>

  <a routerLink="/login-utilisateur" class="float-right btn btn-secondary rounded-circle" style="margin-top: 22%;"
     data-toggle="tooltip" data-placement="bottom" title="Utilisateur">
    <i class="fa fa-arrow-right"></i>
  </a>
</div>
